.header {
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 70px;
}

.header__logo {
  font-size: 25pt;
}

.header__menu-items {
  display: flex;
}

.header__menu-item {
  margin-left: 20px;
  font-size: 20pt;
}

.header__menu-item a, .header__menu-item a:visited {
  text-decoration: none;
  color: #333333;
}

.page-title {
  font-size: 15pt;
  font-weight: bold;
  margin: 10px 0;
}
